@font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-1Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-2ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-3Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-4Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-5Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-6SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-7Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-8ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Paperlogy';
    src: url('../../../public/fonts/Paperlogy/Paperlogy-9Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  