.section_wrapper_container {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}
.section_wrapper_title {
    width: 100%;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: 400;
    font-family: 'Paperlogy';
    margin-top: clamp(2rem, 4vw, 4rem);
    font-size: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color:#141414;

    & > span:nth-child(2) {
        color: #686868;
        font-size: clamp(0.7rem, 0.9vw, 1rem);
    }
}

.section_wrapper_contents {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
}

.lr_padding {
    padding-left: 1em;
    padding-right: 1em;
}